---
import LandingPageVideo from "../components/LandingPageVideo.astro";
import SocialLinks from "../components/SocialLinks.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>CQQCHIFRUIT</title>
	</head>
	<body>
        <LandingPageVideo />
        <SocialLinks />
		<h1>CQQCHIFRUIT</h1>
	</body>
</html>
