---
import Footer from "../components/Footer.astro";
import LandingPageVideo from "../components/LandingPageVideo.astro";
import SocialLinks from "../components/SocialLinks.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gugi&family=Revalia&family=Turret+Road:wght@300&family=Zen+Loop&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>CQQCHIFRUIT</title>
	</head>
	<body>
        <LandingPageVideo />
        <SocialLinks />
        <div class="main-container">
            <h1>CQQCHIFRUIT</h1>
            <!-- <Footer /> -->
        </div>
	</body>
</html>
<style>
    body {
        overflow-y: hidden;
        animation: fade-in 2s linear;
        background-color: black;
    }
    .main-container {
        display: flex;
        position: absolute;
        justify-content: center;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
    }
    h1 {
        position: relative;
        top: 35%;
        color: white;
        font-family: Gugi;
        font-size: 3rem;
    }
    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
</style>
