---
import IconLink from "./IconLink.astro";
---

<div class="socials-container">
    <!-- <IconLink name="mail" link="/contact"/> -->
    <IconLink name="ra" link="https://ra.co/dj/cqqchifruit" />
    <IconLink name="instagram" link="https://www.instagram.com/cqqchifruit/" />
    <IconLink name="soundcloud" link="https://soundcloud.com/user-670053096" />
    <IconLink name="facebook" link="https://www.facebook.com/CQQCHIFRUIT/"/>       
    <IconLink name="mixcloud" link="https://www.mixcloud.com/cqqchifruit/" />
</div>
<style is:global>
	.socials-container {
	    display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 5;
	}
    a {
        margin-right: 10px;
        display: inherit;
    }
    path {
        fill: white;
    }
</style>